 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1800px;
	 height: 1200px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #BG 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1802px;
	 height: 1202px;
	 z-index:1;
} 

 #RetnguloArredondado1 
{ 
	 left: 383px; 
	 top: 510px; 
	 position: absolute; 
	 width: 202px;
	 height: 202px;
	 z-index:2;
} 

 #RetnguloArredondado1_0 
{ 
	 left: 804px; 
	 top: 511px; 
	 position: absolute; 
	 width: 201px;
	 height: 202px;
	 z-index:3;
} 

 #RetnguloArredondado1_1 
{ 
	 left: 1222px; 
	 top: 510px; 
	 position: absolute; 
	 width: 201px;
	 height: 202px;
	 z-index:4;
} 

 #layer_5 
{ 
	 left: 845px; 
	 top: 561px; 
	 position: absolute; 
	 width: 118px;
	 height: 105px;
	 z-index:5;
} 

 #layer_6 
{ 
	 left: 1265px; 
	 top: 571px; 
	 position: absolute; 
	 width: 127px;
	 height: 95px;
	 z-index:6;
} 

 #layer_7 
{ 
	 left: 425px; 
	 top: 561px; 
	 position: absolute; 
	 width: 118px;
	 height: 93px;
	 z-index:7;
} 

 #QUEMSOMOS 
{ 
	 left: 386px; 
	 top: 724px; 
	 position: absolute; 
	 width: 190px;
	 height: 33px;
	 z-index:8;
} 

 #PLANOS 
{ 
	 left: 851px; 
	 top: 717px; 
	 position: absolute; 
	 width: 108px;
	 height: 33px;
	 z-index:9;
} 

 #SERVIOS 
{ 
	 left: 1262px; 
	 top: 717px; 
	 position: absolute; 
	 width: 134px;
	 height: 36px;
	 z-index:10;
} 

 #AMELHORAGNCIAOME 
{ 
	 left: 628px; 
	 top: 828px; 
	 position: absolute; 
	 width: 552px;
	 height: 220px;
	 z-index:11;
} 

 #RetnguloArredondado2 
{ 
	 left: 783px; 
	 top: 899px; 
	 position: absolute; 
	 width: 233px;
	 height: 65px;
	 z-index:12;
} 

 #SAIBAMAIS 
{ 
	 left: 812px; 
	 top: 915px; 
	 position: absolute; 
	 width: 176px;
	 height: 35px;
	 z-index:13;
} 

 #Retngulo1 
{ 
	 left: -46px; 
	 top: -66px; 
	 position: absolute; 
	 width: 1892px;
	 height: 518px;
	 z-index:14;
} 

 #ObjetoInteligentedeV 
{ 
	 left: 285px; 
	 top: 7px; 
	 position: absolute; 
	 width: 122px;
	 height: 122px;
	 z-index:15;
} 

 #INICIOSOBREPLANOS 
{ 
	 left: 1016px; 
	 top: 23px; 
	 position: absolute; 
	 width: 466px;
	 height: 19px;
	 z-index:16;
} 

 #TEMOSASOLUOPROSEUECO 
{ 
	 left: 667px; 
	 top: 363px; 
	 position: absolute; 
	 width: 466px;
	 height: 31px;
	 z-index:17;
} 

 #AGNCIASOLUTIC 
{ 
	 left: 610px; 
	 top: 253px; 
	 position: absolute; 
	 width: 579px;
	 height: 86px;
	 z-index:18;
} 

 #Retngulo2 
{ 
	 left: -12px; 
	 top: 428px; 
	 position: absolute; 
	 width: 1854px;
	 height: 45px;
	 z-index:19;
} 
